html, body { height: 100%;}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  /* max-width: 84%; */
  width: 30%;
  height: auto;
  width: auto 9;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  -moz-animation: fadein 350ms ease-out;
  -webkit-animation: fadein 350ms ease-out;
  -o-animation: fadein 350ms ease-out;
  animation: fadein 350ms ease-out;
}
.searchIpt {
  width: 515px;
  font-family: "微软雅黑";
  border: 0 none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
  height: 20px;
  line-height: 20px;
  padding: 10px 9px 10px 7px;
  margin-right: 3px;
}

.tc {
  text-align: center;
}
.cp {
  cursor: pointer;
}
.btn {
  background: #DDDDDD;
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -webkit-linear-gradient(top, #ffffff, #dddddd);
  /*background: linear-gradient:(top, #ffffff, #dddddd);*/
  border: 0 none;
  font-size: 16px;
  font-family: "微软雅黑";
  height: 40px;
  line-height: 40px;
  padding: 0;
  width: 105px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}

.content {
  padding: 0 0 30px;
  width: 910px;
  margin: -10px auto auto;
  position: absolute;
  top:50%;
  left:50%;
  width:100%;
  transform: translate(-50%,-80%);
  text-align: center;
}
.logo {
  margin-bottom: 30px;
}
/* autocomplete */
div.ac {
  border: 1px solid #ccc;
  position: absolute;
  display: none;
  overflow: auto;
  background-color: #ffffff;
}
div.ac > ul > li {
  word-break: break-all;
}
div.ac > ul > li > div {
  display: table-row;
  width: 100%;
}
div.ac > ul > li > div em {
  color: #333;
  font-style: normal;
}
div.ac > ul > li.normal {
  padding: 2px 0px 2px 5px;
}
div.ac > ul > li.normal > div > span, div.ac > ul > li.iconList > div > span {
  display: table-cell;
  vertical-align: middle;
  color: #333;
}
div.ac > ul > li.iconList {
  padding: 0px 0px 0px 2px;
}
div.ac > ul > li.iconList > div > div {
  display: table-cell;
  vertical-align: middle;
  padding-right: 5px;
}
div.ac > ul > li.iconList > div > div > img {
  display: table;
  display: table-cell\9;
}
div.ac > ul > li.selected {
  background-color: #eeeeee;
}

body {
  margin: 0;
}

.grey-bg {
  background-color: rgb(250, 250, 250);
}
#app {
  font: 14px/1.5 "Microsoft Yahei", 微软雅黑, Tahoma, Arial, Helvetica, STHeiti;
}

a {
  color: #409eff;
  text-decoration: none;
}

.center-card {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.el-dropdown-link {
  cursor: pointer;
  color: #409eff;
}

li {
  list-style-type: none;
}

.markdown-body ul li {
  list-style-type: disc;
}

.markdown-body ol li {
  list-style-type: decimal;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.block {
  display: block;
}

.el-message-box {
  max-width: 80vw;
}
